<!-- common header show -->
<common-header></common-header>

<ion-content>
  <div class="page-body">
    <div class="page-wrapper">
      <div class="form-layout">
        <div class="card-outer">
          <div class="card card-box">
              <div class="card-header">
                  <div class="card-header-tittle">
                      Package Add
                  </div>
                  <div class="card-header-action">
                  </div>
              </div>
              <div class="card-body">
                <div class="form-wrapper">
                  <ion-grid>
                    <ion-row>
                      <!-- Package Name -->
                      <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4">
                        <div class="form-item">
                          <ion-label>Package Name</ion-label>
                          <ion-input name="name" type="text"></ion-input>
                        </div>
                      </ion-col>

                      <!-- Duration Year -->
                      <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4">
                        <div class="form-item">
                          <ion-label>Duration Year</ion-label>
                          <ion-input name="name" type="number"></ion-input>
                        </div>
                      </ion-col>

                      <!-- Duration Month -->
                      <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4">
                        <div class="form-item">
                          <ion-label>Duration Month</ion-label>
                          <ion-input name="name" type="number"></ion-input>
                        </div>
                      </ion-col>

                      <!-- Students -->
                      <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4">
                        <div class="form-item">
                          <ion-label>Students</ion-label>
                          <ion-input name="name" type="number"></ion-input>
                        </div>
                      </ion-col>

                      <!-- Mock tests -->
                      <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4">
                        <div class="form-item">
                          <ion-label>Tests</ion-label>
                          <ion-input name="name" type="number"></ion-input>
                        </div>
                      </ion-col>

                      <!-- Cost -->
                      <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4">
                        <div class="form-item">
                          <ion-label>Cost</ion-label>
                          <ion-input name="name" type="number"></ion-input>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </div>
              <div class="card-footer">
                  <div>
                      <button class="border-btn danger btn-md" style="margin-right: 10px;" mat-stroked-button>Cancel</button>
                      <button class="fill-btn btn-md" (click)="presentToast()" mat-stroked-button [routerLink]="['/', 'subscription-package-list']">Save</button>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<!-- common footer show -->
<common-footer></common-footer>