<!-- common header show -->
<common-header></common-header>

<ion-content>
  <div class="page-body">
    <div class="page-wrapper">
      <div class="form-layout">
        <div class="card-outer">
          <div class="card card-box">
              <div class="card-header">
                  <div class="card-header-tittle">
                    SMS Template Add
                  </div>
                  <div class="card-header-action">
                  </div>
              </div>
              <div class="card-body">
                <div class="form-wrapper">
                  <ion-grid>
                    <ion-row>

                      <!-- Template name -->
                      <ion-col size-xs="12" size-sm="6" size-md="6"  size-lg="6">
                        <div class="form-item">
                          <ion-label>Template Name</ion-label>
                          <ion-input name="name" type="text"></ion-input>
                        </div>
                      </ion-col>

                      <!-- Template Description -->
                      <ion-col size-xs="12" size-sm="12" size-md="12"  size-lg="12">
                        <div class="form-item">
                          <ion-label>Template Body</ion-label>
                          <div class="text-editor">
                            <tinymce name="description"></tinymce>
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </div>
              <div class="card-footer">
                  <div>
                      <button class="border-btn danger btn-md" style="margin-right: 10px;" mat-stroked-button>Cancel</button>
                      <button class="fill-btn btn-md" (click)="presentToast()" mat-stroked-button [routerLink]="['/', 'sms-notification-list']">Save</button>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<!-- common footer show -->
<common-footer></common-footer>