<!-- common header show -->
<common-header></common-header>

<ion-content>
  <div class="page-body">
    <div class="page-wrapper">
      <div class="form-layout">
        <div class="card-outer">
          <div class="card card-box">
              <div class="card-header">
                  <div class="card-header-tittle">
                      Institute Add
                  </div>
                  <div class="card-header-action">
                  </div>
              </div>
              <div class="card-body">
                <div class="form-wrapper">
                  <ion-grid>
                    <ion-row>
                      <!-- Username -->
                      <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4">
                        <div class="form-item">
                          <mat-form-field appearance="outline">
                            <mat-label>Username</mat-label>
                            <input matInput placeholder="Username">
                          </mat-form-field>
                        </div>
                      </ion-col>
                      <!-- Password -->
                      <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4">
                        <div class="form-item">
                          <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Password">
                          </mat-form-field>
                        </div>
                      </ion-col>
                      <!-- Confirm Password -->
                      <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4">
                        <div class="form-item">
                          <mat-form-field appearance="outline">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput placeholder="Confirm Password">
                          </mat-form-field>
                        </div>
                      </ion-col>
                      <!-- Institute Name -->
                      <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4">
                        <div class="form-item">
                          <mat-form-field appearance="outline">
                            <mat-label>Institute Name</mat-label>
                            <input matInput placeholder="Institute Name">
                          </mat-form-field>
                        </div>
                      </ion-col>
                      <!-- Institute Owner Name -->
                      <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4">
                        <div class="form-item">
                          <mat-form-field appearance="outline">
                            <mat-label>Institute Owner Name</mat-label>
                            <input matInput placeholder="Institute Owner Name">
                          </mat-form-field>
                        </div>
                      </ion-col>
                      <!-- Contact Person Name -->
                      <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4">
                        <div class="form-item">
                          <mat-form-field appearance="outline">
                            <mat-label>Contact Person Name</mat-label>
                            <input matInput placeholder="Contact Person Name">
                          </mat-form-field>
                        </div>
                      </ion-col>
                      <!-- Contact number -->
                      <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4">
                        <div class="form-item">
                          <mat-form-field appearance="outline">
                            <mat-label>Contact Number</mat-label>
                            <input matInput placeholder="Contact Number">
                          </mat-form-field>
                        </div>
                      </ion-col>
                      <!-- Email address -->
                      <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4">
                        <div class="form-item">
                          <mat-form-field appearance="outline">
                            <mat-label>Email Address</mat-label>
                            <input matInput placeholder="Email Address">
                          </mat-form-field>
                        </div>
                      </ion-col>
                      <!-- Institute Website -->
                      <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4">
                        <div class="form-item">
                          <mat-form-field appearance="outline">
                            <mat-label>Institute Website</mat-label>
                            <input matInput placeholder="Institute Website">
                          </mat-form-field>
                        </div>
                      </ion-col>
                      <!-- Address Line 1 -->
                      <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4">
                        <div class="form-item">
                          <mat-form-field appearance="outline">
                            <mat-label>Address Line 1</mat-label>
                            <input matInput placeholder="Address Line 1">
                          </mat-form-field>
                        </div>
                      </ion-col>
                      <!-- Address Line 2 -->
                      <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4">
                        <div class="form-item">
                          <mat-form-field appearance="outline">
                            <mat-label>Address Line 2</mat-label>
                            <input matInput placeholder="Address Line 2">
                          </mat-form-field>
                        </div>
                      </ion-col>
                      <!-- Country -->
                      <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4">
                        <div class="form-item">
                          <mat-form-field appearance="outline">
                            <mat-label>Country</mat-label>
                            <mat-select [(ngModel)]="model.country" name="food">
                              <mat-option *ngFor="let item of country" [value]="item.id">
                                {{item.name}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </ion-col>
                      <!-- State -->
                      <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4">
                        <div class="form-item">
                          <mat-form-field appearance="outline">
                            <mat-label>State</mat-label>
                            <mat-select [(ngModel)]="model.state" name="food">
                              <mat-option *ngFor="let item of state" [value]="item.id">
                                {{item.name}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </ion-col>
                      <!-- City -->
                      <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4">
                        <div class="form-item">
                          <mat-form-field appearance="outline">
                            <mat-label>City</mat-label>
                            <mat-select [(ngModel)]="model.city" name="food">
                              <mat-option *ngFor="let item of city" [value]="item.id">
                                {{item.name}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </ion-col>
                      <!-- Pin Code -->
                      <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4">
                        <div class="form-item">
                          <mat-form-field appearance="outline">
                            <mat-label>Pin Code</mat-label>
                            <input matInput placeholder="Pin Code">
                          </mat-form-field>
                        </div>
                      </ion-col>
                      <!-- Institute Logo -->
                      <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4">
                        <div class="form-item">
                          <ion-label>Institute Logo</ion-label>
                          <div class="custom-file">
                            <input class="custom-file-input" id="singleFileUpload" type="file">
                            <label class="custom-file-label" for="singleFileUpload">Choose file</label>
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </div>
              <div class="card-footer">
                  <div>
                      <button class="border-btn danger btn-md" style="margin-right: 10px;" mat-stroked-button>Cancel</button>
                      <button class="fill-btn btn-md" (click)="presentToast()" mat-stroked-button [routerLink]="['/', 'security-list']">Save</button>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<!-- common footer show -->
<common-footer></common-footer>